/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

/* Header Styling */
header {
    background-color: #212387;
    color: #fff;
    padding: 8px;
    text-align: center;
    font-size: 24px;
}

/* Navigation Bar Styling */
nav {
    background-color: #0074D9;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex; /* Flexbox to align items properly */
    justify-content: center; /* Center align the links */
    align-items: center; /* Vertically center the links */
}

nav a {
    color: white;
    font-size: 18px;
    margin: 0 20px;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

/* Hover Effects */
nav a:hover {
    background-color: #0053A0;
    color: #fff;
}

/* Dropdown menu */
.dropdown {
    position: relative;
    display: inline-block; /* Ensure dropdown aligns with nav links */
}

.dropdown .dropbtn {
    font-size: 18px;
    border: none;
    outline: none;
    color: white;
    background-color: #0074D9; /* Match nav bar color */
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
    z-index: 1;
    top: 100%;
    left: 0;
    border-radius: 5px;
}

.dropdown-content form {
    margin: 0;
}

.dropdown-content select {
    width: 100%;
    padding: 12px;
    border: none;
    display: block;
    font-size: 16px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #0053A0; /* Match hover color for consistency */
}

/* Table Styles */
table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

table, th, td {
    border: 1px solid #dddddd;
}

th, td {
    padding: 12px 15px;
    text-align: center;
    color: #333;
}

th {
    background-color: #0074D9;
    color: white;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

/* Content and Footer */
.content {
    padding: 20px;
    text-align: center;
}

